.videoCard {
  position: relative;
  margin-bottom: 40px;
  width: 450px;
  cursor: pointer;
  transition: all ease 0.4s;
  border-radius: 8px;
  overflow: hidden;
  justify-self: self-start;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px #00000059;

    .videoCard__thumbnail-overlay {
      opacity: 1;
    }
  }
}

.videoCard__thumbnail {
  position: relative;

  .videoCard__thumbnail-overlay {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity ease 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;

    svg.MuiSvgIcon-root {
      width: 100px;
      height: 100px;
      color: white;
    }
  }

  img {
    display: block;
    flex: 1;
    width: 100%;
    height: 300px;
    object-fit: fill;
    border-bottom: 1px solid #00000025;
    backface-visibility: hidden;
  }
}

.videoCard__info {
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
}
.videoCard__text {
  text-align: left;
  margin-left: 1rem;
}
.videoCard__text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.videoCard__text > p {
  font-size: 14px;
  color: gray;
}
.videoCard__avatar {
  height: 32px !important;
  width: 32px !important;
  margin-top: 5px;
}
