.searchResults {
  flex: 0.8;
  background-color: #fff;
  padding: 40px 20px;
  padding-bottom: 0;
}

.searchResults > h2 {
  position: relative;
  background-color: white;
  padding: 40px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 25%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.158);
  }
  &::before {
    transform: translateX(-110%);
  }
  &::after {
    transform: translateX(10%);
  }
}

.searchResults__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
