@import "./../../assets/styles/main.scss";

/* ============
  searchBar
============ */
.searchBar {
  display: table;
  table-layout: fixed;
  font-size: 1.2rem;
  line-height: 1.6px;
  width: 40%;
  height: 52px;
  border-radius: 10px;
  border: 1px solid lightgray;
  overflow: hidden;

  &:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border: none;
  }

  /* Reset button style */
  button {
    border: unset;
    background-color: unset;
    border-radius: unset;
  }

  .searchBar__content {
    display: table-row;
  }

  .searchBar__btn {
    display: table-cell;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: #ecf0f1;
    position: relative;
    right: -1px;

    button {
      display: inline-block;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0.5;
      font-size: 1.2rem;
    }
  }

  /* ====================
  searchBar: Field
====================== */
  .searchBar__field {
    position: relative;
    margin: auto;
    overflow: hidden;

    // Grouped
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;

    /* ============
  FIELD: Input
============ */
    input {
      flex: 1;
      width: 100%;
      height: 100%;
      padding: 20px 0 10px 30px;
      font-size: 1rem;
      border: none;
      outline: none;
      color: #475f77;
    }

    /* ============
  FIELD: Label
============ */
    label {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      span {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 30px;
        transition: all 0.25s ease;
        opacity: 0.5;
      }
    }

    /* ============
  FIELD: Mix
============ */
    input:focus + label span,
    input:valid + label span {
      transform: translateY(10px);
      top: 0;
      opacity: 0.3;
      font-size: 0.75rem;
    }
  }
}
