@import "./../../assets/styles/main.scss";

// header
.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  width: 100%;
  height: 75px;
}

.header__brand {
  height: 100%;

  a {
    height: 100%;
    display: block;
    padding: 1rem 40px;

    img.header__brand-logo {
      height: 100%;
      object-fit: contain;
    }
  }
}

.header__menu {
  height: 100%;
  display: flex;
  margin-right: 40px;

  &-button {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 1rem 2rem;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  &.show nav.header__nav {
    transform: translateX(0);
  }

  .header__menu .header__sidebar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

nav.header__nav {
  height: 100%;

  // MainNavbar & SubNavbar
  ul.header__nav-main,
  ul.header__nav-sub {
    display: inline-block;
    vertical-align: middle;
    height: 100%;

    // items
    li {
      cursor: pointer;
      height: 100%;
      display: inline-block;

      // items link
      a {
        color: $base-text-font-color;
        width: 100%;
        height: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;

        &:hover {
          background-color: #ebebeb;
        }

        // items icons/image
        svg,
        img {
          height: 2rem;
          display: inline-block;
          vertical-align: middle;
        }

        // items image
        img {
          width: 1.5rem;
        }

        span {
          display: none;

          @include respond-to("min-laptop-md") {
            display: unset;
          }
        }
      }
    }
  }

  /*
  MainNavbar
  */
  ul.header__nav-main {
  }

  /* 
  SubNavbar
  */
  ul.header__nav-sub li a span {
    display: none;

    @include respond-to("min-laptop-md") {
      display: unset;
    }
  }

  span.nav__list-item-text,
  span.subnav__list-item-text {
    font-size: 1rem;
  }
}
