.recommendedVideos {
  flex: 1;
  background-color: #fff;
  padding: 0px 20px;
  padding-bottom: 0;
  max-width: 2400px;
  margin: 0 auto;
}

.recommendedVideos > h2 {
  position: relative;
  background-color: white;
  padding: 40px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 25%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.158);
  }
  &::before {
    transform: translateX(-110%);
  }
  &::after {
    transform: translateX(10%);
  }
}

.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
