@import "./assets/styles/main.scss";

/* Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $base-title-font-family !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;

  &:active {
    color: inherit;
  }
}

/* Begin */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $base-text-font-family;
  font-size: $base-text-font-size;
  color: $base-text-font-color;
  background-color: $base-background-color;
}

body {
  overflow-x: hidden;
}

#root,
.app {
  width: 100vw;
  height: 100vh;
}

.app {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
