@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(bg-black-fadeIn) {
  0% {
    background-color: rgba(3, 4, 19, 1);
  }
  100% {
    background-color: rgba(3, 4, 19, 0.75);
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(float) {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@include keyframes(zoomIn) {
  0% {
    opacity: 0;
    @include transform(scale(0.75));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}
@include keyframes(zoomInShadow) {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
}
