/// Gestionnaire de resolution d'écran
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == "string", unquote($raw-query), inspect($raw-query));

    @media only screen and #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

/// Cache l'élément
/// @access public
@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

/// Affiche l'élément
/// @access public
@mixin visible {
  opacity: 1;
  visibility: visible;
}

/// Affiche l'élément
/// @access public
@mixin notDisplay {
  display: none;
}

/// Aide à dégager les flotteurs intérieurs
/// @access public
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/// Aide à créer des transformations de facçon "cross-browser"
/// @access public
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

/// Aide à créer des transitions de facçon "cross-browser"
/// @access public
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/// Aide à définir le temps de la transitions de facçon "cross-browser"
/// @access public
@mixin transition-delay($args...) {
  -webkit-transition-delay: $args;
  -moz-transition-delay: $args;
  -ms-transition-delay: $args;
  -o-transition-delay: $args;
  transition-delay: $args;
}

/// Aide à définir le temps entre l'ancienne transitions et la nouvelle transitions de facçon "cross-browser"
/// @access public
@mixin transition-duration($args...) {
  -webkit-transition-duration: $args;
  -moz-transition-duration: $args;
  -ms-transition-duration: $args;
  -o-transition-duration: $args;
  transition-duration: $args;
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  animation: $args;
}

/// Aide à créer des ombres sur les éléments de facçon "cross-browser"
/// @access public
@mixin box-shadow($params) {
  -webkit-box-shadow: #{$params};
  -moz-box-shadow: #{$params};
  box-shadow: #{$params};
}

/// Aide à supprimer la bar de défilement
/// @access public
@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

/// Aide à cacher la bar de défilement
/// @access public
@mixin hide-scroll-bar() {
  &::-webkit-scrollbar {
    visibility: hidden;
  }
}

/// Aide à afficher la bar de défilement
/// @access public
@mixin show-scroll-bar() {
  &::-webkit-scrollbar {
    visibility: visible;
  }
}
