/*----------------------------*\
  POINTS DE RUPTURES
\*----------------------------*/

// Smartphone
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-md: 1200px;
$laptop-lg: 1440px;

$breakpoints: (
  "min-mobile-s": (
    min-width: $mobile-sm,
  ),
  "max-mobile-s": (
    max-width: $mobile-sm - 1,
  ),
  "min-mobile-m": (
    min-width: $mobile-md,
  ),
  "max-mobile-m": (
    max-width: $mobile-md - 1,
  ),
  "min-mobile-l": (
    min-width: $mobile-lg,
  ),
  "max-mobile-l": (
    max-width: $mobile-lg - 1,
  ),
  "min-tablet": (
    min-width: $tablet,
  ),
  "max-tablet": (
    max-width: $tablet - 1,
  ),
  "min-laptop": (
    min-width: $laptop,
  ),
  "max-laptop": (
    max-width: $laptop - 1,
  ),
  "min-laptop-md": (
    min-width: $laptop-md,
  ),
  "max-laptop-md": (
    max-width: $laptop-md - 1,
  ),
  "min-laptop-lg": (
    min-width: $laptop-lg,
  ),
  "max-laptop-lg": (
    max-width: $laptop-lg - 1,
  ),
);

/*----------------------------*\
  COLORS
\*----------------------------*/
$colors: (
  black: #0f0f0f,
  white: #ffffff,
  gray-ligth: #ebeef3,
  gray: #636e72,
  gray-dark: #2d3436,
  red: #fc5c65,
  blue: #45aaf2,
  green: #20bf6b,
  yellow: #fd9644,
  purple: #a55eea,
  midnight: #34495e,
);

/*----------------------------*\
  FONTS
\*----------------------------*/
$base-text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$base-text-font-size: 14px;
$base-text-font-color: map-get($colors, midnight);
$base-text-font-color-ligth: lighten(map-get($colors, midnight), 20%);
$base-title-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$base-background-color: map-get($colors, gray-white);
