.home {
  flex: 1;
  padding-top: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    position: sticky;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;

    &-search {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
    }

    &-content {
      flex: 1;
    }
  }
}
